
<div class="container">
 
 <div id="messages">
 {{#each project.messages as |message|}}
 {{!-- <h4> {{message.tag.tag_name}} </h4> --}}
   
      <div class= "chat-bubble">

       <h4>{{message.chat_text}} </h4>
      <h6> Posted by: {{message.user.name}} </h6>
      <p>  {{format_date message.createdAt}} at {{format_time message.createdAt}} </p>
    </div>
    
 {{/each}}
</div>

<div class="row chat-bar">

   <br>
 <textarea id = "message" class="form-control" placeholder="Your Message Here" onfocus="this.value=''">
   </textarea>
            </textarea>
            
         <select name="message" id="tag">
         <option value="tag">{{tagName}}</option>
          </select>
         
 <br>
 <button id="send" class="btn btn-success" data-project_id="{{project.id}}" >Send</button>
<br>
 </div>
</div>


